.join-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.join-join {
  width: 100%;
  height: 1004px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.join-join1 {
  top: 295px;
  left: 369px;
  width: 466px;
  height: 408px;
  position: absolute;
  border-color: transparent;
}
