.main-container {
  min-height: 100vh;
}
.main-main {
  width: 100%;
  height: 1379px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.main-top {
  top: 9px;
  left: 34px;
  width: 1118px;
  height: 48px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.main-text {
  top: 13px;
  left: 65px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-ellipse1 {
  top: 0px;
  left: 923px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.main-ellipse2 {
  top: 1px;
  left: 986px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}
.main-vector1 {
  top: 19px;
  left: 1003.5px;
  width: 7px;
  height: 6px;
  position: absolute;
}
.main-group1 {
  top: 3px;
  left: 1044px;
  width: 74px;
  height: 26px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.main-text002 {
  top: 5px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Thin;
  text-align: left;
  font-family: Inter;
  font-weight: 100;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-freeicondev59691091 {
  top: 3px;
  left: 0px;
  width: 47px;
  height: 45px;
  position: absolute;
  border-color: transparent;
}
.main-text004 {
  top: 103px;
  left: 71px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.main-text006 {
  top: 103px;
  left: 177px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.main-vector7 {
  top: 103px;
  left: 40px;
  width: 25px;
  height: 17px;
  position: absolute;
}
.main-vector8 {
  top: 98px;
  left: 141px;
  width: 26px;
  height: 28px;
  position: absolute;
}
.main-vector9 {
  top: 107.005859375px;
  left: 151.7021484375px;
  width: 9px;
  height: 13px;
  position: absolute;
}
.main-group2 {
  top: 155px;
  left: 34px;
  width: 283px;
  height: 327.2681579589844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(18, 18, 18, 1);
}
.main-vector6 {
  top: 262.4469299316406px;
  left: 0px;
  width: 283px;
  height: 0px;
  position: absolute;
}
.main-text008 {
  top: 279.8379821777344px;
  left: 71.14524841308594px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-ellipse6 {
  top: 271.9329528808594px;
  left: 9.48603343963623px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.main-text010 {
  top: 25.29608917236328px;
  left: 30.039106369018555px;
  color: rgba(255, 255, 255, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group3 {
  top: 155px;
  left: 402px;
  width: 283px;
  height: 327.2681579589844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(18, 18, 18, 1);
}
.main-vector61 {
  top: 262.4469299316406px;
  left: 0px;
  width: 283px;
  height: 0px;
  position: absolute;
}
.main-text019 {
  top: 279.8379821777344px;
  left: 71.14524841308594px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-ellipse61 {
  top: 271.9329528808594px;
  left: 9.48603343963623px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.main-text021 {
  top: 25.29608917236328px;
  left: 30.039106369018555px;
  color: rgba(255, 255, 255, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group4 {
  top: 155px;
  left: 769px;
  width: 283px;
  height: 327.2681579589844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(18, 18, 18, 1);
}
.main-vector62 {
  top: 262.4469299316406px;
  left: 0px;
  width: 283px;
  height: 0px;
  position: absolute;
}
.main-text030 {
  top: 279.8379821777344px;
  left: 71.14524841308594px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-ellipse62 {
  top: 271.9329528808594px;
  left: 9.48603343963623px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.main-text032 {
  top: 25.29608917236328px;
  left: 30.039106369018555px;
  color: rgba(255, 255, 255, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group5 {
  top: 516px;
  left: 34px;
  width: 283px;
  height: 327.2681579589844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(18, 18, 18, 1);
}
.main-vector63 {
  top: 262.4469299316406px;
  left: 0px;
  width: 283px;
  height: 0px;
  position: absolute;
}
.main-text041 {
  top: 279.8379821777344px;
  left: 71.14524841308594px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-ellipse63 {
  top: 271.9329528808594px;
  left: 9.48603343963623px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.main-text043 {
  top: 25.29608917236328px;
  left: 30.039106369018555px;
  color: rgba(255, 255, 255, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group6 {
  top: 516px;
  left: 402px;
  width: 283px;
  height: 327.2681579589844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(18, 18, 18, 1);
}
.main-vector64 {
  top: 262.4469299316406px;
  left: 0px;
  width: 283px;
  height: 0px;
  position: absolute;
}
.main-text052 {
  top: 279.8379821777344px;
  left: 71.14524841308594px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-ellipse64 {
  top: 271.9329528808594px;
  left: 9.48603343963623px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.main-text054 {
  top: 25.29608917236328px;
  left: 30.039106369018555px;
  color: rgba(255, 255, 255, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group7 {
  top: 516px;
  left: 769px;
  width: 283px;
  height: 327.2681579589844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(18, 18, 18, 1);
}
.main-vector65 {
  top: 262.4469299316406px;
  left: 0px;
  width: 283px;
  height: 0px;
  position: absolute;
}
.main-text063 {
  top: 279.8379821777344px;
  left: 71.14524841308594px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-ellipse65 {
  top: 271.9329528808594px;
  left: 9.48603343963623px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.main-text065 {
  top: 25.29608917236328px;
  left: 30.039106369018555px;
  color: rgba(255, 255, 255, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group8 {
  top: 877px;
  left: 34px;
  width: 283px;
  height: 327.2681579589844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(18, 18, 18, 1);
}
.main-vector66 {
  top: 262.4469299316406px;
  left: 0px;
  width: 283px;
  height: 0px;
  position: absolute;
}
.main-text074 {
  top: 279.8379821777344px;
  left: 71.14524841308594px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-ellipse66 {
  top: 271.9329528808594px;
  left: 9.48603343963623px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.main-text076 {
  top: 25.29608917236328px;
  left: 30.039106369018555px;
  color: rgba(255, 255, 255, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group9 {
  top: 877px;
  left: 402px;
  width: 283px;
  height: 327.2681579589844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(18, 18, 18, 1);
}
.main-vector67 {
  top: 262.4469299316406px;
  left: 0px;
  width: 283px;
  height: 0px;
  position: absolute;
}
.main-text085 {
  top: 279.8379821777344px;
  left: 71.14524841308594px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-ellipse67 {
  top: 271.9329528808594px;
  left: 9.48603343963623px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.main-text087 {
  top: 25.29608917236328px;
  left: 30.039106369018555px;
  color: rgba(255, 255, 255, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group10 {
  top: 877px;
  left: 769px;
  width: 283px;
  height: 327.2681579589844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(18, 18, 18, 1);
}
.main-vector68 {
  top: 262.4469299316406px;
  left: 0px;
  width: 283px;
  height: 0px;
  position: absolute;
}
.main-text096 {
  top: 279.8379821777344px;
  left: 71.14524841308594px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-ellipse68 {
  top: 271.9329528808594px;
  left: 9.48603343963623px;
  width: 47px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.main-text098 {
  top: 25.29608917236328px;
  left: 30.039106369018555px;
  color: rgba(255, 255, 255, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Consolas;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
